/* 지마켓 산스 불러오기 */
/*
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*/

/* 지마켓 산스 적용하기 */
/*
html > body {
    font-family: "GmarketSansLight";
    text-underline-position: under;
}
*/

/* 에스코어드림Lt */
@font-face {
	font-family: 'S-CoreDream-3Light';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

/* 에스코어드림Lt 적용하기 */
html>body, html>body .toastui-editor-contents, html>body .ProseMirror,
	html>body .toastui-editor-md-code, html>body .toastui-editor-md-code-block
	{
	font-family: "S-CoreDream-3Light";
}

/* 라이브러리 */
.table-box-type-1>table {
	width: 100%;
}

.table-box-type-1>table th, .table-box-type-1>table td {
	border: 1px solid rgba(31, 41, 55, 0.2);
	padding: 10px;
}

html[data-theme="dark"] :is(.table-box-type-1>table th, .table-box-type-1>table td) {
	border-color:rgba(166, 173, 186, 0.2);
}

html > body .toast-ui-viewer {
	background-color:white;
	padding:10px;
	border-radius:10px;
}

/* 커스텀 */
body {
	min-width: 500px;
}

.btn-theme-toggle > span:first-child {
  display: none;
}

html[data-theme="dark"] .btn-theme-toggle > span:first-child {
  display:inline;
}

html[data-theme="dark"] .btn-theme-toggle > span:last-child {
  display:none;
}

.btn-text-link {
	color: skyblue;
	font-weight: bold;
}

.btn-text-link:hover {
	text-decoration: underline;
}